html, body {
  height: 100%;
  background: #2D2D2D;
  direction: rtl;
  text-align: right;
  background-image: url('car1.jpg') ;
  background-position: center;

background-repeat: no-repeat;

background-size: cover;

}

h1 {
  margin:50px auto;
  text-align: center;
  color: white; 
}


ul {
  list-style: none;
  text-align: right;
  width: 90%;
 
}
.list-group-item{
  background-color: rgba(248, 248, 248, 0.644);
}

.close{
float: left;
}
ul>li:hover {
  background-color: rgba(80, 127, 255, 0.315);
}
.ss{
 text-align: center
}

.form-inline {
  margin-bottom: 50px;
  
}
.form-control {
 
  display: flex;
  flex-direction: column;
  vertical-align: middle
}
.button{
margin-right: 10px;
}
.height{
  height: 100%;
}
.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: black;
  text-align: justify;
  margin-top: 20px;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px
}

.glyphicon-ok {
  margin-top:2px;
  margin-right: 5px;
  margin-left: 20px;
color: green;
cursor: pointer;
}
.glyphicon-remove{
  margin-top:2px;
  margin-right: 20px;
  margin-left: 5px;
  color: blue;
  float: left;
  cursor: pointer;
}
@media screen and (max-width:768px){
  .button{
    margin-top: 20px ;
    margin-right: 0px;
    text-align: center;
    }
    
}